* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lexend Mega", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  letter-spacing: -2px;
}

body {
  background-color: #fdfd96;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.container {
  max-width: 700px;
  background-color: #f7f3e3;
  padding: 40px;
  border-radius: 8px;
  width: 70%;
  margin: auto;
  border: 4px solid #000;
  box-shadow: 6px 6px #000;
}

h1 {
  text-align: center;
  color: #000;
  margin-bottom: 1.5rem;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

input,
select {
  width: 100%;
  padding: 10px;
  border: 3px solid #000;
  background: #f4f4f4;
  color: #000;
  box-shadow: 3px 3px #000;
  margin-bottom: 1rem;
  transition: 0.2s;
}

input:focus,
select:focus {
  outline: none;
  box-shadow: 6px 6px #000;
}

.inputName,
.emailPhone,
.genderBirthQualifi,
.addressLine {
  display: flex;
  gap: 1rem;
}

.genderBirthQualifi {
  flex-wrap: wrap;
}

.qualifibirth {
  display: flex;
  gap: 3rem;
}

.gender {
  display: flex;
  gap: 1rem;
}

.genderLabel{
  display: flex; 
  column-gap: 10px;
}

.interests {
  margin: 1rem 0;
}

button {
  width: 48%;
  padding: 10px;
  border: 3px solid #000;
  background: #ffde59;
  color: #000;
  box-shadow: 4px 4px #000;
  cursor: pointer;
}
button[type="reset"] {
  background: #ff9b85;
}
button:hover {
  background: #fff;
}
.buttons {
  display: flex;
  justify-content: space-between;
}

/* .photoFrame{
  width: 100px;
  height: 120px;
} */


.notification {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 15px;
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* display: none; */
  z-index: 1000;
  transform: translateY(100px);
  opacity: 0;
  animation: slideUp 0.5s forwards;
}

.notification.error {
  background-color: #f44336;
}

.notification.success {
  background-color: #4caf50;
}

@keyframes slideUp {
  0% {
    transform: translateY(100px); 
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.notification.show {
  display: block;
}
